* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.flex-layout{
    background-color: rgb(233, 52, 52);
    padding: 50px;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    gap: 50px;
   justify-conten: space-evenly;
   align-items: stretch;
}

.box {

    background-color: blue;
    padding: 50px;
    flex: 1;

}

.main-header{
    background: rgb(255, 36, 36);
    font-size: 40px;
    font-weight: 200;
    padding: 100px;
    text-transform: capitalize;
}

.grid-layout{
    padding: 20px;
    background-color: rgb(5, 206, 38);
    background: rgb(236, 17, 17);
    display: grid;
    grid-template-columns: repeat(3, 1fr) ; 
    /* grid-template-rows: 1fr 2fr 3fr; */
gap: 20PX;
margin-bottom: 200px;
justify-content: space-between;
align-items: center;

}

.grid-item{
    background-color: blue;
    color: black;
    padding: 50px;
    border: 2px solid #ffff;

}
 
@media screen and (max-width:1000px) {
    .flex-layout{
        flex-direction:column ;
    }
} 